@import "tailwindcss";

:root {
    --font-sans: "Plus Jakarta Sans";
    --heading-font-weight: bold;
    --heading-line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 { font-size: 2rem; margin: 0.67rem 0; }
h2 { font-size: 1.5rem; margin: 0.83rem 0; }
h3 { font-size: 1.17rem; margin: 1rem 0; }
h4 { font-size: 1rem; margin: 1.33rem 0; }
h5 { font-size: 0.83rem; margin: 1.67rem 0; }
h6 { font-size: 0.67rem; margin: 2.33rem 0; }
p { margin-top: 1em; margin-bottom: 1em; }


/* Custom scrollbar for a more modern look */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568; /* gray-700 */
    border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096; /* gray-600 */
}

/* Custom progressive blur using gradient mask */
.blur-gradient-mask::before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 1;
    mask: linear-gradient(to top, black 80%, transparent 100%);
    -webkit-mask: linear-gradient(to top, black 80%, transparent 100%);
    backdrop-filter: blur(12px);
}

/* Custom input styles */
.user-input {
    border: none;
    box-shadow: none !important;
    resize: none;
}

/* Background filter */
.bg-filter {
    z-index:1;
}
.bg-filter::before {
    content: '';
    position: absolute;
    inset: -50px;
    z-index: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    filter: url(#glass-distortion);
    -webkit-backdrop-filter: blur(px);
    -webkit-filter: url("#glass-distortion");
}


/* Nav filter */
.nav-filter {
    z-index:1;
    position: relative;
}
.nav-filter::before {
    content: '';
    inset: -20px;
    z-index: 0;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    filter: url(#glass-distortion);
    -webkit-backdrop-filter: blur(px);
    -webkit-filter: url("#glass-distortion");
}


/* Message block */
pre code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    line-height: 1.4;
    display: block;
    border-radius: 8px;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    padding: 12px;
    margin-block: 1rem;
}

/* Style for inline <code> NOT inside <pre> */
code:not(pre code) {
    font-family: 'Courier New', Courier, monospace;
    background-color: #747474;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 90%;
}

code::-webkit-scrollbar {
    width: 4px;
}
code::-webkit-scrollbar-track {
    background: transparent;
}
code::-webkit-scrollbar-thumb {
    background: #4a5568; /* gray-700 */
    border-radius: 8px;
}
code::-webkit-scrollbar-thumb:hover {
    background: #718096; /* gray-600 */
}

hr {
    margin-block: 2rem;
    opacity: 20%;
}